<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAWz9GkPLKFqyieAovZxvxdVrnFTd-u4m8</string>
	<key>GCM_SENDER_ID</key>
	<string>97494699089</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mally.flutterSource</string>
	<key>PROJECT_ID</key>
	<string>mally-f3606</string>
	<key>STORAGE_BUCKET</key>
	<string>mally-f3606.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:97494699089:ios:973cca77966685f87a7c70</string>
</dict>
</plist>